@charset "UTF-8";
/* 마이페이지 본문 공통 레이아웃 설정 */
.mypage_main_content_top{
	position: absolute;
	top: 0px;
	width: 100%;
}

.mypage_main_content_body{
	position: absolute;
	top: 100px;
	width: 100%;
}

.btn-rhy-border {	/* 라임색테두리버튼 */
	margin: 5px;
	width: 100px !important;
	border-color: #d7fd75 !important;
}

.btn-rhy-full {	/* 라임색버튼 */
	color: #400000 !important;
	background-color: #d7fd75 !important;
}

.tbl-rhy-head {	/* 테이블 헤드 스타일 */
	padding-top: 20px;
    padding-bottom: 20px;
    border-top: 3px solid #d7fd75;
    border-bottom: 2px solid #c0c0c0;
}

.tbl-rhy-body {	/* 테이블 바디 스타일 */
	padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 0.03px solid #e0e0e0;    
}

.hr-rhy-title {	/* 타이틀 아래 수평선 */
	border: 1.5px solid #d7fd75;
}

.box-rhy-gray {	/* 회색 테두리 박스 */
	border: 1px solid; 
	border-color: #dbdbdb;	
}

.mypage_paging {	/* 페이징 위치 설정 */
	width: 500px;
	margin: 0px 0px 0px -70px;
	position: absolute;
	left: 50%;
}

#footer_wrap_mypage {
	z-index: -1;
	position: relative;
	top: 600px;
}