@charset "UTF-8";
.table-responsive{
	overflow-x: hidden;
}
#paging_wrap{
	float: right;
}
.searchText{
/* 	display: block; */
    width: 150px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
/*         margin-bottom: 10px; */
/*     position: relative; */
/*     top: -4px; */
}
.memLockBtn{
	color: #fff;
    background-color: #66e0b4;
    border-color: #66e0b4;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border: solid;
   \border: solid 1px #66e0b4;
    border-radius: 8px;
/*     box-shadow:  */
}
.memLockBtn_n{
    color: #ffffff;
    background-color: #0d9c86;
    border-color: #66e0b4;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border: solid 1px #0d9c86;
    border-radius: 8px;
}
.searchBtn{
	width: 50px;
    height: calc(1.5em + .75rem + 2px);
/*     padding: 10px; */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #8ce6c7cc;
    background-clip: padding-box;
    border: 1px solid #8ce6c7cc;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.searchPosition{
	float: right;
}
.searchSelect{
	width: 126px;
    height: calc(1.5em + .75rem + 2px);
    padding-left: 8px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
/*     margin-bottom: 10px; */
/*     position: relative; */
/*     top: -4px; */
}
.searchPosition{
	margin: 8px 0 16px;
	
}
#_userid{
	border: none;
}
.memupdateTitle{
	font-size: large;
    color: #444444;
    font-weight: 700;
}
/* .memupdateTd{
	border-bottom: solid 1px #989898;
    position: relative;
    top: -3px;
    
}*/ 
.memupdateHr{
	width: 329px;
    position: relative;
    left: -55px;
    /* color: black; */
    border-color: #cacbd2;
}
    
										/* modal */
										
										
										
/* restock modal */
.modaltable{
	position: relative;
    left: 85px;
}
.restockModal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: -13%;
	width: 100%; /* Full width */
	height: 113%; /* Full height */
	overflow: hidden; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
.restockModal-content {
    background-color: #fefefe;
	margin: 10% auto; /* 10% from the top and centered */
	padding: 40px;
	width: 550px;
    height: 700px;
	border: 1px solid #888;
	border-radius: 5px;
	overflow: scroll;
	overflow-x:hidden;
	overflow-y:hidden;
	
 }
.inputtext_s{
	word-break: break-all;
	box-sizing: border-box;
	font: inherit;
	margin: 5px 5px 5px 5px;
	letter-spacing: -0.05em;
	max-width: 100%;
	font-family: 'Noto Sans';
	color: #333;
	width: 230px;
	height: 34px;
	padding: 0 19px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	outline: none;
}
.regibutton{
    border-radius: 3px;
    border: solid 1px #cccccc;
    background-color: #ffffff;
    color: #525252;
    /* font-weight: bolder; */
    height: 34px;
    /* padding: 0px 30px 0px 30px; */
    margin: 0px 9px;
    position: relative;
    right: 112px;
    word-break: break-all;
    box-sizing: border-box;
    font: inherit;
    margin: 5px 5px 5px 5px;
    letter-spacing: -0.05em;
    max-width: 100%;
    font-family: 'Noto Sans';
    color: #333;
    /* width: 230px; */
    height: 34px;
    /* padding: 0 19px; */
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    outline: none;
}
.regibutton_s{
	border-radius: 5px;
    border: solid 1px #c5c5c5;
    background-color: #ffffff;
    color: #525252;
    /* font-weight: bolder; */
    height: 43px;
    adding: 0px 30px 0px 30px;
    margin: 0px 9px;
    width: 299px;
}
.memBtn{
    /* padding: 10px; */
    margin: 5px 0px 5px;
    position: relative;
    top: 30px;
}
.td_margin{
	margin-left: 6px;	
}

==========================================
	/* The Close Button */
	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}
	.close:hover, .close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}


====================================
/* wishlist Modal Css */
	.wModal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		left: 0;
		margin:auto;
		top: 300px;
		width: 100%; /* Full width */
		height: 50%; /* Full height */
		overflow: hidden; /* Enable scroll if needed */
		/* background-color: rgb(0,0,0); Fallback color
		background-color: rgba(0,0,0,0.4); */ /* Black w/ opacity */
		/* background-color:green; */
	}
	
	/* Modal Content/Box */
	.wModal-content {
		position:fixed;
	    background-color: #d7fd75;
	    margin:3%;
	    padding: 20px;
	    opacity:0.7;
	    border: 0px solid #888;
	    width: 100%;
	    height: auto;
	    margin: 8% auto;
	    text-align: center;
	}

	
	#memdetailBtn{
		color: black;
	}