
<!DOCTYPE html>
<html>
<head>
    <%- mycss.style %>
</head>

<body>
    <h1>hello ejs( <%=title %> )</h1>
</body>
</html>

<script>
/*
ejs Embedded JavaScript
JavaScript가 내장 되어있는 html 파일.
*/
</script>

