@charset "UTF-8";
#content_wrap{
	width: 1678px;
	float: right;
	position: relative;
	bottom: 1078px;
/* 	max-width: none !important; */
}
/* .container {
  width: 1120px;
  max-width: none !important;
} */

/* 버튼색 */
.btn-info, .btn-icon-split{
	background-color : #66E0B4 !important;
	border: 0.3px solid #ffffff !important;
}