@charset "UTF-8";


/* 쿠폰 팝업 페이지 */
.payment_coupon_tb{ padding: 7px 7px 7px 7px; border-top: 1px solid #444444; border-collapse: collapse; }
.payment_coupon_tb td{ padding: 7px 7px 7px 7px; border-bottom: 1px solid #444444; }
.payment_coupon_tb th{ padding: 7px 7px 7px 7px; border-bottom: 1px solid #444444; background-color: #d7fd75; }

#coupon_popup_c_btn{ border-radius: 10px; margin-top:13px; margin-bottom:10px; width:100px; height:50px; background: #CFEC40; font: Open Sans 30px; color: black; outline: 0; border: 0px solid gray; }
#coupon_popup_c_btn:hover{ opacity:0.5; }
#coupon_popup_e_btn{ border-radius: 10px; margin-top:13px; margin-bottom:10px; width:100px; height:50px; background: #CFEC40; font: Open Sans 30px; color: black; outline: 0; border: 0px solid gray; }
#coupon_popup_e_btn:hover{ opacity:0.5; }
