@charset "UTF-8";

.mypage_main_left_title{
	top: 0px;
	left: 20px;
	position: absolute;
	
}

.btn-group-vertical{
	width: 170px;	
	position: absolute;
	top:50px;
	left: 10px;		
}
.btn-group-vertical .btn{	
	background-color: #ffffff;	
	height: 60px;
}
.btn-group-vertical .btn:hover{
	background-color: #D7FD75;
	margin: 0px;
	height: 60px;	
}


.btn_inner_title{
	float: left;
}

.btn_inner_ico{
	float: right;
}