
    <head>
            <title>bbslist.html</title>
        </head>
        <body>
            <table>
                <tr>
                    <td>번호</td>
                    <td>작성자</td>
                    <td>제목</td>
                    <td>작성일</td>
                    <td>조회수</td>
                </tr>
                <%
                for(int i = 0; i < ; i++) {
                %>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <%
                }
                %>
            </table>
        </body>
        </html>
        