@charset "UTF-8";



#body_wrap { width:1600px; margin-left:auto; margin-right:auto; padding:0px;}	
#middle_wrap { display:inline-block; width:100%; padding:0px; margin:0px; text-align:center; border:solid 1px #EFEFEF;}
#footer_wrap { width:100%; border:solid 0px navy; clear:both;}

#sidebar_wrap { float:left; width:250px; margin:0px; padding:3px;}
#content_wrap { float:left; width:1250px;  border-left:solid 1px #EFEFEF; padding: 5px; }
#content_title_wrap { height:90px; width:100%;  text-align:left; font-weight:normal; line-height:2.5em; _line-height:2.7em; margin-bottom:10px; }
#content_title_wrap div.title { padding-left:25px; background-repeat:no-repeat; background-position:10px 9px; font-weight:bold; }



/* 주문내역 상세보기 페이지 */
.ordercheck_detail_wrap{ /* background-color: red; */ }
.ordercheck_detail_title{ font-family: sans-serif; font-size: 35px; }

.ordercheck_detail_tb{ font-size: 15px; text-align: left; border-collapse: collapse; width: 100%; margin-bottom: 150px; margin-top: 20px; }
.ordercheck_detail_tb th { padding: 10px 10px 10px 10px; text-align: center; background-color: #d7fd75; border-top: 1px solid #d7fd75; border-bottom: 1px solid #d7fd75; }
.ordercheck_detail_tb td { padding: 10px 10px 10px 10px; text-align: center; border-top: 1px solid #d7fd75; border-bottom: 1px solid #d7fd75; }
.ordercheck_detail_information { border-bottom: 1px solid #dbdbdb; margin-bottom: 150px; padding: 10px 10px 10px 10px; }


#ordercheck_delivery_btn{ border-radius: 10px; margin-top:13px; margin-bottom:10px; width:100px; height:40px; background: #CFEC40; font: Open Sans 30px; color: black; outline: 0; border: 0px solid gray; }
#ordercheck_delivery_btn{ opacity: 0.5; }

.ordercheck_delivery_popup_title{ font-family: sans-serif; font-size: 35px; margin-bottom: 150px; border-bottom: 1px solid #dbdbdb; }
.ordercheck_delivery_popup_tb{ font-size: 15px; text-align: left;  /* background-color: red; */  width: 100%; margin-bottom: 150px; margin-top: 20px; }




