@charset "UTF-8";
@charset "UTF-8";

.inputtext_long{
	word-break: break-all;
	box-sizing: border-box;
	font: inherit;
	margin: 5px 5px 5px 5px;
	letter-spacing: -0.05em;
	max-width: 100%;
	font-family: 'Noto Sans';
	color: #333;
	width: 300px;
	height: 34px;
	padding: 0 19px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	outline: none;
}

.inputtext_b_long{
	word-break: break-all;
	box-sizing: border-box;
	font: inherit;
	margin: 5px 5px 5px 5px;
	letter-spacing: -0.05em;
	max-width: 100%;
	font-family: 'Noto Sans';
	color: #333;
	width: 320px;
	height: 54px;
	padding: 0 19px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	outline: none;
}
.selectbox{
	word-break: break-all;
	box-sizing: border-box;
	font: inherit;
	margin: 5px 5px 5px 5px;
	letter-spacing: -0.05em;
	max-width: 100%;
	font-family: 'Noto Sans';
	color: #333;
	width: 90px;
	height: 54px;
	padding: 0 19px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	outline: none;
}

.regibutton_login{
	border-radius: 5px;
    border: solid 1px #c5c5c5;
    background-color: #ffffff;
    color: #000000;
    font-weight: bolder;
    height: 33px;
    width: 300px;
    padding: 0px 30px 0px 30px;
}
.regibutton_b{
	border-radius: 5px;
    border: solid 1px #c5c5c5;
    background-color: #ffffff;
    color: #545454;
    font-weight: bolder;
    height: 54px;
    padding: 0px 30px 0px 30px;
    margin: 5px 5px 30px 5px;
}
.regibutton_long{
	border-radius: 5px;
    border: solid 1px #c5c5c5;
    background-color: #ffffff;
    color: #000000;
    font-weight: bolder;
    height: 54px;
    padding: 0px 30px 0px 30px;
    width: 320px;
    margin: 5px 5px 5px 5px;
}
.txt_title{
 	margin: 0px 5px 0px 5px;
 	color: #545454;
}


.regibutton_b_long{
	border-radius: 5px;
    border: solid 1px #c5c5c5;
    background-color: #ffffff;
    color: #000000;
    font-weight: bolder;
    height: 54px;
    padding: 0px 30px 0px 30px;
    width: 424px;
    margin: 5px 5px 5px 5px;
}
.c_name, .c_num{
	margin-right: 47px;
    font-size: small;
    color: #666;
}
.c_num{
	margin: 10px;
/* 	font-size: 12px; */
    color: #666;
}
#_crText{
	padding: 10px 0px 10px 0px;
}
.fname{
	position: relative;
	left: 24px;
}
.findNum{
	border-radius: 5px;
    border: solid 1px #c5c5c5;
    background-color: #ffffff;
    color: #000000;
    font-weight: bolder;
    height: 54px;
    width:184px;
    padding: 0px 30px 0px 30px;
    margin: 5px 5px 30px 5px;
    
}
text:hover {
	border-color: red;
}



/* ====================사용 */

.findidtext{
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
    color: #505050;
    /* margin-bottom: 10px; */
    padding-bottom: 16px;
}

#footer_wrap {
	z-index: -1;
	position: relative;
	top: 50px;
}

.subText{
	
}
.subTextdiv{
	position: relative;
    left: -276px;
}
.regi_table td{
	position: relative;
    left: 100px;
    width: 500px
}

.regi_table span{
	margin-top: -5px;
}
th{
	width: 150px;
	position:relative;
	left:100px;
}
.txt {
    display: block;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    margin-left: 10px;
}
.txt_point{
	margin: 0px 0px 0px 10px;
	padding-bottom: 5px;
	color: #d7fd75;
	font-size: x-large;
}
.txt_point2{
	color: white;
}
.th_title{
	padding-bottom: 5px;
	font-size: small;
}
.subTitle{
	padding: 50px 0px 25px 0px;
	font-size: large;
}
.txt_point_b{
	margin: 0px 0px 0px 10px;
	color: #d7fd75;
	font-size: x-large;
}
.middleLine{
    background-color: #a2ff6f80;
    position: relative;
    top: 431px;
    left: 3px;
    height: 1px;
    width: 600px;
}
.addinfo{
	position: relative;
	top: 46px;
}
.radiobtn{
	position: relative;
	left: 5px;
}
.postBtn{
    border-radius: 5px;
    border: solid 1px #c5c5c5;
    background-color: #ffffff;
    color: #545454;
    font-weight: bolder;
    height: 44px;
    padding: 0px 15px;
    position: relative;
    top: 49px;
    left: 175px;
}
.regibutton{
    border-radius: 3px;
    border: solid 1px #c5c5c5;
    background-color: #ffffff;
    color: #545454;
    font-size:small;
    width: 129px;
    height: 44px;
    margin-bottom: 10px;
    position: relative;
    left: -137px;
    top: -2px;
}
.inputregibtn{
   border-radius: 10px;
   margin-top:13px;
   margin-bottom:10px;
   width:270px;
   height:55px;
   background: #CFEC40;   
   font: Open Sans 30px;
   color: black; 
   outline: 0;
   border: 0px solid gray; 
   position: relative;
   left: -91px;  
}
.inputregibtn:hover{
	opacity: 0.5;
}
/* .regi_table input{
	width: 200px;
	height: 44px;
} */
.regibutton1{
	border-radius: 3px;
    border: solid 1px #c5c5c5;
    background-color: #ffffff;
    color: #545454;
    font-weight: bolder;
    height: 44px;
    padding: 0px 15px;
    position: relative;
    top: 49px;
    left: 191px;
}
.inputtext_b{
	word-break: break-all;
	box-sizing: border-box;
	font: inherit;
	margin: 5px 5px 5px 5px;
	letter-spacing: -0.05em;
	max-width: 100%;
	font-family: 'Noto Sans';
	color: #333;
	width: 301px;
	height: 44px;
	padding: 0 19px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	outline: none;
}
.inputtext_s{
	word-break: break-all;
	box-sizing: border-box;
	font: inherit;
	margin: 5px 5px 5px 5px;
	letter-spacing: -0.05em;
	max-width: 100%;
	font-family: 'Noto Sans';
	color: #333;
    width: 301px;
    height: 44px;
	padding: 0 19px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	outline: none;
}
.eposition{
	position: relative;
/* 	top: -54px; */
	left: -30px;
}
.epbtn{
	position: relative;
	top: -49px;
	left: 373px;
}
.inputtext_email{
	word-break: break-all;
	box-sizing: border-box;
	font: inherit;
	margin: 5px 5px 5px 5px;
	letter-spacing: -0.05em;
	max-width: 100%;
	font-family: 'Noto Sans';
	color: #333;
    width: 114px;
    height: 44px;
	padding: 0 19px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	font-size: 14px;
	line-height: 20px;
	outline: none;
}
td,th{
	padding-bottom: 10px;
}
.regibtn{
	margin-top: 50px;
}
.regibutton1:hover, .postBtn:hover, .regibutton:hover{
	opacity: 0.5 
}
.backcolor{
/* 	background-color: #f2f2f28c; */
	border: solid 1px #c2fb2d;
    position: absolute;
    left: 603px;
    z-index: -1;
    height: 1176px;
    width: 700px;
    /* padding-top: 6px; */
    margin-top: -29px;
	
}
