@charset "UTF-8";
.table-responsive{
	overflow-x: hidden;
}
#paging_wrap{
	float: right;
}
.eventBtn{
    width: 100px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #66e0b4;
    background-clip: padding-box;
    border: 1px solid #66e0b4;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
/*     box-shadow: 0px 0px 2px #bbbbbb; */
}
.searchText{
    width: 100px;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;	
}

.searchPosition{
	float: right;
	margin: 8px 0 16px;
}
.searchSelect{
	width: 100px;
    height: calc(1.5em + .75rem + 2px);
    padding-left: 8px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
/*     margin-bottom: 10px; */
/*     position: relative; */
/*     top: -4px; */
}
.updateBtn{
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #2fb786;
    background-clip: padding-box;
    border: 1px solid #2fb786;
    border-radius: .35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
    